@media screen and (max-width: 576px) {
  .hide {
    display: block;
  }

  nav .container {
    padding: 10px;
    justify-content: space-between;
  }
  .logo-title,
  .nav-links,
  nav .btn {
    display: none;
  }

  .hamburger,
  .nav-bottom-horizontal-line {
    display: block !important;
  }

  /* banner related styles */
  .banner-container {
    flex-direction: column-reverse;
    padding: 10px;
    text-align: center;
    gap: 20px;
  }

  .banner-container .banner-content {
    gap: 15px;
  }

  .banner-container .banner-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .banner-container .banner-description {
    font-size: 1rem;
  }

  .banner-container img {
    width: 85%;
  }

  /* standard curriculam related styles */
  .standard-curriculam-section .standard-cards-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .standard-curriculam-section .section-title {
    font-size: 2rem;
    margin-top: -30px;
  }

  .arrow-container {
    display: none;
  }

  /* our stories related styles */
  .stories-container {
    grid-template-columns: 2fr;
    padding: 10px 15px;
    margin: 25px;
  }

  .stories-container .left-part {
    display: none;
  }

  .stories-container .card-description {
    font-size: 0.56rem;
  }

  .stories-container button {
    font-size: 0.56rem;
    padding: 8px 10px;
  }

  .stories-container .btn-secondary {
    position: absolute;
    top: 60%;
    transform: translate(-50% -50%);
  }

  .stories-container .btn-primary {
    padding: 10px 15px;
    font-size: 20px;
    bottom: -6%;
  }

  .left-part img {
    width: 50%;
  }

  .bottom img,
  .top img,
  .bottom-left img {
    width: 100%;
  }

  /* footer related styles */
  footer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  footer .container {
    flex-direction: column;
    padding: 1rem;
    gap: 1.25rem;
  }
  .card {
    max-width: 400px;
  }
}
