@media screen and (max-width: 576px) {
  nav .container {
    padding: 10px;
    justify-content: space-between;
  }
  .logo-title {
    display: none;
  }

  .nav-links {
    display: none;
  }

  nav .btn {
    display: none;
  }

  .hamburger, .nav-bottom-horizontal-line {
    display: block !important;
  }

  /* banner part */
  .banner-container {
    flex-direction: column-reverse;
    padding: 10px;
    text-align: center;
    gap: 20px
  }

  .banner-container .banner-content {
    gap: 15px;
  }

  .banner-container .banner-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .banner-container .banner-description {
    font-size: 1rem;
  }

  .banner-container img {
    width: 85%;
  }

  /* standard curriculam */
  .standard-curriculam-section .standard-cards-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}
 .standard-curriculam-section .section-title {
  width: max-content;
  margin-left: 10%;
  font-size: 1.8rem;
 }

 .stories-container {
  grid-template-columns: 1fr;
  padding: 10px 25px;
 }


 .new-left img {
  width: 100%;
 }

 .new-right, .top, .bottom {
  flex-direction: column;
 }

  .bottom img, .top img {
    width: 100%;
  }

}


